// @import './iconfont.css';
@import '@tuniao/tn-style/dist/uniapp/index.css';
.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

// .tn-tabbar,
// .tn-navbar {
//   opacity: 0.3;
// }

:root,
page {
  font-size: 24rpx;
  line-height: 1.5;
  color: #1a1a1a;
  /* 禁止双击放大 */
  touch-action: manipulation;
  user-select: none;

  // background-color: #f8f9fa;
  background-color: #fff;

  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}
view,
text {
  transition: all 100ms;
}

// #container {
//   height: 100vh;
// }
// /* Avoid Chrome to see Safari hack */
// @supports (-webkit-touch-callout: none) {
//   #container {
//     /* The hack for Safari */
//     // 作用：height: -webkit-fill-available 让元素填充其包含块的可用空间，类似于设置高度为100%，但更加灵活。
//     height: -webkit-fill-available;
//   }
// }
/* stylelint-disable selector-type-no-unknown */
button::after {
  border: none;
}

swiper,
scroll-view {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.fade-enter-active {
  transition: opacity 0.5s ease;
}
.fade-leave-active {
  transition: opacity 0;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
